<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Cart</title>
  <link rel="stylesheet" href="/css/cart/my-cart.css" />
</head>
<body>

  <%- include('../partials/header.ejs') %>

  <main>
    <h1>My cart:</h1>

    <% products.forEach(p => { %>
      <div class="product">
        <% if (p.images && p.images.length) { %>
          <div class="product-images">
            <% p.images.forEach(i => { %>
              <img src="/<%= i %>" alt="Product photo" />
            <% }) %>
          </div>
        <% } %>

        <div><strong>Title:</strong> 
          <a href="/products/<%= p.id %>"><%= p.title %></a>
        </div>
        <div><strong>Price:</strong> <%= p.price %>₴</div>
        <div><strong>Description:</strong> <%= p.description %></div>

        <br />
        <form action="/cart/products/<%= p.id %>?_method=DELETE" method="post" class="delete-form">
          <button type="submit" class="btn" id="btn-delete">Delete from cart</button>
        </form>
      </div>
    <% }) %>

    <% if (products.length !== 0) { %>
      <div class="clear-form">
        <form action="/cart/products/?_method=DELETE" method="post">
          <button type="submit" class="btn" id="clear-cart">Clear cart</button>
        </form>
      </div>
    <% } %>

  </main>
</body>
</html>
