<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title><%= title %> | Product</title>
  <link rel="stylesheet" href="/css/products/get-product-by-id.css" />
</head>
<body>

  <%- include('../partials/header.ejs') %>

  <main class="product-container">
    <h1><%= title %></h1>

    <% if (images && images.length > 0) { %>
      <div class="product-images">
        <% images.forEach(image => { %>
          <img src="/<%= image %>" alt="Фото продукту" />
        <% }) %>
      </div>
    <% } else { %>
      <p>No photos</p>
    <% } %>

    <div class="product-info">
      <p><strong>Price:</strong> <%= price %> ₴</p>
      <p><strong>Description:</strong> <%= description %></p>
      <p>
        <strong>Created at:</strong>
        <%= new Date(p.createdAt).toLocaleString(Intl.DateTimeFormat().resolvedOptions().locale) %>
      </p>

      <% if (categories && categories.length > 0) { %>
        <div class="product-categories">
          <strong>Categories:</strong>
          <ul>
            <% categories.forEach((c) => { %>
              <li><a href="/categories/<%= c.id %>"><%= c.name %></a></li>
            <% }) %>
          </ul>
        </div>
      <% } %>

      <div class="product-actions">
        <% if (authorId === userId) { %>
          <a href="/products/update/<%= id %>" class="btn btn-update">Update</a>

          <form action="/products/delete/<%= id %>?_method=DELETE" method="post" class="delete-form">
            <button type="submit" class="btn btn-delete">Delete</button>
          </form>
        <% } %>

        <form action="/cart/products/<%= id %>" method="post">
          <button type="submit" id="add-to-cart" class="btn btn-add">Add to cart</button>
        </form>
      </div>
    </div>
  </main>

</body>
</html>
